<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Örnek MVC Uygulaması</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		@Html.ActionLink("Örnek MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })        
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active mr-3">@Html.ActionLink("Ana Sayfa", "Index", "Home", new { @class = "navbar-link" })</li>
				<li class="nav-item mr-3">@Html.ActionLink("Hakkında", "About", "Home", new { @class = "navbar-link" })</li>
				<li class="nav-item">@Html.ActionLink("İletişim", "Contact", "Home", new { @class = "navbar-link" })</li>
			</ul>
			@Html.Partial("_LoginPartial")
		</div>
	</nav>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Örnek MVC Uygulaması</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
